* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

body {
    background-color: #f0f0f0;
    width: 100%;
}

h4 {
    font-weight: 500;
    color: #444;
}

input[type="checkbox"]:not(#hide-toggle) {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    padding-right: 10px;
}

.checklist-header {
    background-color: #f0f0f0;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    display: grid;
}

.filters {
    transition: all 250ms ease-in-out;
    display: grid;
    grid-template-rows: subgrid;
}

.filters p {
    text-align: center;
}

.shrink {
    height: 0;
    overflow: hidden;
    transition: 500ms all ease;
}

#faction-filters,
#type-filters,
#rarity-filters,
#sort,
.counters,
.ships-container {
    display: grid;
    justify-content: center;
}

#faction-filters {
    grid-template-columns: repeat(5, 186px);
}

#type-filters {
    grid-template-columns: repeat(10, 93px);
}

#rarity-filters {
    grid-template-columns: repeat(8, 93px) 186px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

input#hide-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

label#hide-owned {
    cursor: pointer;
    text-indent: -98px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 20px;
    position: relative;
    justify-self: end;
    align-self: center;
    font-size: 0.85rem;
    margin-right: 15px;
}

label#hide-owned::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 16px;
    transition: 300ms;
}

input#hide-toggle:checked+label {
    background-color: #65da55;
}

input#hide-toggle:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

label#hide-owned:active::after {
    width: 26px;
}

.button-container,
#sort {
    margin: 5px 0;
    padding: 1px 0;
}

.button {
    font-size: 0.8rem;
    line-height: 1.5rem;
    display: inline-flex;
    white-space: nowrap;
    padding: 2px 13px;
    margin: 3px 1px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 0px 0px #e7e7e7;
    justify-content: center;
}

.button:hover,
#collapse-filters:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.button img {
    height: 1.5rem;
    padding: 1px 7px 1px 0;
}

#clear-filters {
    grid-column: -2 / span 2;
}

#clear-filters.disabled:hover {
    cursor: default;
}

.disabled {
    opacity: 0.5;
}

.disabled:hover,
.disabled:active,
.disabled:visited {
    cursor: arrow;
    background-color: #f9f9f9;
}

#textFilter {
    font-family: Roboto, sans-serif;
    padding: 4px 8px 6px;
    border: 0;
    border-radius: 0.25em;
    margin: 8px 0;
    grid-column: 2 / -2;
}

.sort-text {
    justify-self: start;
    align-self: center;
    margin-left: 5px;
}

#collapse-filters {
    font-size: 0.8rem;
    line-height: 1.5rem;
    display: inline-flex;
    white-space: nowrap;
    padding: 2px 13px;
    margin: 3px 1px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 0px 0px #e7e7e7;
    justify-self: center;
}

#collapse-filters img {
    height: 20px;
    margin: 2px 0px 0px 10px;
    transition: 350ms all ease;
}

.counters {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 5px;
    max-width: 940px;
}

.counter {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 5px;
    text-align: end;
    font-weight: 500;
    flex-grow: 1;
    width: 20%;
}

.counter::after {
    content: "";
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    background-size: contain;
    opacity: 0.12;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.counter.eagle::after {
    background-image: url(../img/icon-faction-eagle.png);
}

.counter.royal::after {
    background-image: url(../img/icon-faction-royal.png);
}

.counter.sakura::after {
    background-image: url(../img/icon-faction-sakura.png);
}

.counter.ironblood::after {
    background-image: url(../img/icon-faction-ironblood.png);
}

.counter.dragon::after {
    background-image: url(../img/icon-faction-dragon.png);
}

.counter.sardegna::after {
    background-image: url(../img/icon-faction-sardegna.png);
}

.counter.northern::after {
    background-image: url(../img/icon-faction-northern.png);
}

.counter.vichya::after {
    background-image: url(../img/icon-faction-vichya.png);
}

.counter.iris::after {
    background-image: url(../img/icon-faction-iris.png);
}

.counter span {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Noto Sans", "Roboto", sans-serif;
    padding-left: 4px;
}

@keyframes border-flash-green {
    0% {
        box-shadow: 0 0 0 0px #fff0;
    }
    60% {
        box-shadow: 0 0 0px 7px #0d05;
    }
    100% {
        box-shadow: 0 0 5px 12px #fff0;
    }
}

@keyframes border-flash-red {
    0% {
        box-shadow: 0 0 0 0px #fff0;
    }
    60% {
        box-shadow: 0 0 0px 7px #d005;
    }
    100% {
        box-shadow: 0 0 5px 12px #fff0;
    }
}

.flash-green {
    border: 1px solid transparent;
    box-shadow: 0 0 0 0 #fff0;
    animation: border-flash-green 750ms;
}

.flash-red {
    border: 1px solid transparent;
    box-shadow: 0 0 0 0 #fff0;
    animation: border-flash-red 750ms;
}

#sort {
    grid-template-columns: max-content repeat(9, 93px);
    grid-template-areas: "sort-text id name class rarity collapse-filters collapse-filters collapse-filters toggle owned";
}

.sort-text {
    grid-area: sort-text;
    padding-right: 8px;
}

#sort-id {
    grid-area: id;
}

#sort-name {
    grid-area: name;
}

#sort-class {
    grid-area: class;
}

#sort-rarity {
    grid-area: rarity;
}

#collapse-filters {
    grid-area: collapse-filters;
}

#hide-toggle {
    grid-area: toggle;
}

#hide-owned {
    grid-area: owned;
}

.is-checked,
.is-checked:active,
.button:active {
    background-color: #e2e2e2;
}

.rarity-1,
.rarity-2 {
    background-color: #ccc;
}

.rarity-3 {
    background-color: #9fe8ff;
}

.rarity-4 {
    background-color: #c4adff;
}

.rarity-5 {
    background-color: #ee9;
}

.rarity-6 {
    background-image: linear-gradient(120deg, #fbffca, #baffbf, #a7eeff, #ffabff);
}

.ships-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 186px));
    justify-content: center;
}

.ship {
    position: relative;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    transition: 75ms all ease-in;
    display: none;
    /* works like magic to auto-adjust the card heights */
    grid-template-rows: auto 1fr;
    margin: 5px;
}

.show {
    display: grid;
}

.completed {
    opacity: 0.4;
}

.ship:hover {
    border: 1px solid #aaa;
}

.ship-type {
    position: absolute;
    top: 8px;
    left: 8px;
    object-fit: none;
    border: 0;
    border-radius: 15px;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    padding: 2px 8px;
}

.ship-type[data-title]:after,
.ship-type-text[data-title]:after {
    opacity: 0;
    content: attr(data-title);
    font-weight: 400;
    font-size: 0.875em;
    padding: 3px 8px 4px;
    position: absolute;
    border-radius: 4px;
    left: -50%;
    top: 170%;
    white-space: nowrap;
    z-index: 20;
    background: #444;
    pointer-events: none;
}

.ship-type[data-title]:hover:after,
.ship-type-text[data-title]:hover:after {
    opacity: 1;
    transition-delay: 500ms;
}

.dd {
    background-color: #5798ba;
}

.cl,
.ca,
.bm {
    background-color: #b28541;
}

.bb,
.bc,
.bv {
    background-color: #bd544e;
}

.cv,
.cvl {
    background-color: #8968b9;
}

.ar {
    background-color: #3ea986;
}

.ss,
.sv {
    background-color: #7ba543;
}

.cb {
    background-color: #b25c41;
}

.ship-info,
.ship-name {
    background-color: #fff;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ship-img {
    display: block;
    width: 100%;
}

.ship-info {
    font-size: 0.875rem;
    color: #777;
    padding: 12px 14px 16px;
    line-height: 1.2em;
}

.ship-id::after {
    content: "\00A0\00B7\00A0";
    font-weight: 900;
}

.ship-name {
    font-size: 1em;
    font-weight: 600;
    color: #222;
    padding: 0.3em 0 0.4em;
}

.ship-id-and-ship-type-text,
.ship-rarity-and-ship-faction,
.ship-build-pool-and-ship-build-time,
.ship-drop-map {
    padding: 0.2em 0;
}

.ship-id,
.ship-type-text {
    font-size: 0.9375em;
}

.ship-rarity::after {
    content: "\00A0\002F\00A0";
}

@media only screen and (max-width: 1100px) {
    .ships-container {
        grid-template-columns: repeat(6, minmax(100px, 186px));
    }
}

@media all and (max-width: 928px) {
    html {
        font-size: 13px;
    }
    .ship-type {
        padding: 2px 7px;
    }
    .ship-info {
        padding: 10px 10px 12px;
    }
    .ship-name {
        padding: 0.3em 0 0.3em;
    }
}

@media only screen and (max-width: 928px) {
    #faction-filters,
    .counters {
        grid-template-columns: repeat(auto-fit, 186px);
    }
    #type-filters,
    #rarity-filters {
        grid-template-columns: repeat(auto-fill, 93px);
        max-width: 760px;
        justify-self: center;
    }
    #clear-filters {
        grid-column: -3 / span 2;
    }
    #sort {
        grid-template-columns: max-content repeat( 4, [col-start] minmax(93px, 170px) [col-end]);
        grid-template-areas: "sort-text id name class rarity" "collapse-filters collapse-filters collapse-filters toggle owned";
    }
    .counter {
        display: inline-block;
        padding: 5px 9px;
        text-align: right;
        font-size: 0.8rem;
    }
    .counter::after {
        background-position-y: -5px;
        background-position-x: 10px;
        background-size: 60px;
        opacity: 0.1;
    }
    .counter span {
        font-size: 0.85rem;
    }
    .ships-container {
        grid-template-columns: repeat(auto-fit, 124px);
    }
}

@media only screen and (max-width: 749px) {
    #faction-filters,
    .counters {
        grid-template-columns: repeat(3, 186px);
    }
    #type-filters,
    #rarity-filters {
        grid-template-columns: repeat(auto-fill, 93px);
        max-width: 559px;
        justify-self: center;
    }
    #sort {
        grid-template-columns: max-content repeat( 4, [col-start] minmax(93px, 124px) [col-end]);
        /* max-width: 558px; */
        grid-template-areas: "sort-text id name class rarity" "collapse-filters collapse-filters collapse-filters toggle owned";
        justify-self: center;
    }
    .counter {
        padding: 6px 10px;
    }
    .counter span {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 559px) {
    #faction-filters,
    .counters {
        grid-template-columns: repeat(2, 186px);
    }
    #type-filters,
    #rarity-filters {
        grid-template-columns: repeat(auto-fill, 93px);
        max-width: 399px;
        justify-self: center;
    }
    #clear-filters {
        grid-column: -5 / span 4;
    }
    #sort {
        grid-template-columns: max-content repeat( 4, [col-start] minmax(min-content, 79px) [col-end]);
        /* max-width: 372px; */
        grid-template-areas: "sort-text id name class rarity" "collapse-filters collapse-filters collapse-filters toggle owned";
        justify-self: center;
    }
    .sort-text {
        font-size: 0.75rem;
    }
    .counter.eagle,
    .counter.royal,
    .counter.sakura,
    .counter.ironblood,
    .counter.dragon,
    .counter.sardegna,
    .counter.vichya,
    .counter.iris,
    .counter.other {
        display: none;
    }
    .counter.total {
        grid-column-start: span 2;
        display: inline-block;
        text-align: end;
        padding: 5px 10px 6px;
    }
}